<h3><i class="bi-cloud-upload"></i> Large File Upload</h3>

<form [formGroup]="form" class="row">
  <app-form-group [valid]="form.get('system')?.valid" class="col-auto" label="System">
    <select formControlName="system" class="form-select">
      <option value="">Select System</option>
      @for (item of systems(); track $index) {
        <option [value]="item">{{item}}</option>
      }
    </select>
  </app-form-group>

  <app-form-group [valid]="form.get('uploadBy')?.valid" class="col-auto" label="Upload By">
    <input formControlName="uploadBy" type="text" class="form-control" placeholder="Enter Uploader">
  </app-form-group>

  <div class="col-auto" style="padding-top: 2rem;">
    <div class="d-none">
      <input (change)="upload(fileSelect.files)" #fileSelect type="file" >
    </div>
    <button [class.disabled]="!canUpload" (click)="fileSelect.click()" type="button" class="btn btn-danger">
      <i class="bi-upload"></i> Upload
    </button>
  </div>

  @if (progress.connected()) {
    <div class="col">
      <app-progress [progress]="progress.progress()"></app-progress>
    </div>
  }

</form>

<!-- Upload History Table -->
<table class="table table-striped my-4">
  <thead>
    <tr>
      <th>System</th>
      <th>File</th>
      <th>Upload By</th>
      <th>State</th>
      <th>Upload At</th>
      <th>Finish At</th>
      <th>Records</th>
      <th>Errors</th>
      <th class="text-center"></th>
    </tr>
  </thead>

  <tbody>
    @for (item of contents(); track $index) {
      <tr>
        <td>{{item.system}}</td>
        <td>{{item.fileName}}</td>
        <td>{{item.uploadBy}}</td>
        <td>{{item.state}}</td>
        <td>{{item.uploadAt}}</td>
        <td>{{item.finishedAt}}</td>
        <td>{{item.records}}</td>
        <td>{{item.errors}}</td>
        <th class="text-center">
          @if (item.errors > 0) {
            <a class="icon-link" [routerLink]="['/errors']" [queryParams]="{id: item.id}"></a>
          }
        </th>
      </tr>
    }
  </tbody>
</table>

<!-- Pagination -->
@if (pager()) {
  <app-pagination [pager]="pager()"
    (onPageChange)="onPageChage($event)"
    (onSizeChange)="onSizeChange($event)"></app-pagination>
}
